<div class="container">
<div class="row justify-content-center" >

    <div class="col-6">
        {{mensaje}}
        <form action="/login/inicio" method="post">
                    
            <input type="text" name="usuario" class="form-control">
            <input type="password" name="password" class="form-control mt-3">
            <button type="submit" class="btn btn-primary btn-outline btn-block mt-3 ">Ingresar</button>

        </form>
    </div>

</div>




</div>

</form>

