<h1>Promociones</h1>
<table class="table">
    <tr>
        <td>ID PROMO</td>
        <td>TITULO</td>
        <td>DESCRIPCION</td>
        <td>CODIGO</td>

    </tr>

    {{#each dato}}
    <tr>
        <td>{{id_promo}}</td>
        <td>{{titulo}}</td>
        <td>{{descripcion}}</td>
        <td>{{codigo}}</td>
    </tr>
    {{/each}}
</table>