<div class="container">
    <div class="row">
        <div class="col-4">
            {{!"--foto"}}
            <img src="/images/{{foto}}" >
        </div>
        <div class="col-8">
            {{!"--informacion"}}
            <h3>Informacion del usuario:</h3>
            <h4>Nombre:{{nombre}}</h4>
            <h4>Edad:{{edad}}</h4>
        </div>
    </div>

</div>