{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}

<form action="/1" method="post">
    
    <p>NOMBRE USUARIO</p>
    <input type="text" name="nombreUsuario" id="nombreUsuario">
    <P>PASSWORD</P>
    <input type="password" name="password" id="password">
    <P>CONFIRMADO</P>
    <input type="text" name="confirmado" id="password">
    <P>ESTADO</P>
    <input type="text" name="estado" id="estado">
    <br>
    <button type="submit">Enviar</button>
    

    



</form>
