{{title}}

<p>Ingrese sus datos</p>

<form action="/login" method="post">
    
    <input type="text" name="usuario">
    <input type="password" name="password">
    <button type="submit">Ingresar</button>
    {{mensaje}}
</form>

