<h1>Panel de Admin</h1>
<table class="table">
    <tr>
        <td>ID</td>
        <td>Usuario</td>
        <td>Password</td>
        <td>Mail Confirmado</td>

    </tr>

    {{#each dato}}
    <tr>
        <td>{{id_usuario}}</td>
        <td>{{usuario}}</td>
        <td>{{password}}</td>
        <td>{{confirmado}}</td>
    </tr>
    {{/each}}
</table>