{{title}}

<form action="/registro" method="post">

    {{!-- usuario, password --}}
    <input type="text" name="usuario" placeholder="ingrese su nombre">
    <input type="password" name="password" placeholder="********">

    <button type="submit">Registrate</button>
    <br>
    {{mensaje}}


</form>
